<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moedas para intercambio</title>
</head>
<body>
    <h1>Bem-vindo Conversor de Moeda</h1>

    <form method="post">
        <label for="valor_brl">Digite o valor em BRL:</label>  
        <input type="number" name="valor_brl" step="0.01" required><br><br>

        <label for="escolha">Escolha a moeda para conversão:</label><br>
        <input type="radio" name="escolha" value="1" required> Dólar<br>
        <input type="radio" name="escolha" value="2"> Euro<br><br>   

        <button type="submit">Converter</button>
    </form>

    {% if resultado is not none %}
        <h2>Resultado:</h2>
        <p>{{ valor_brl }} BLR é igual a {{ resultado }} {{ moeda }}.</p>
    {% endif %}

    
</body>
</html>
